@if (clockState) {
<div class="section" [style.--theme]="clockState.clock.color">
    <div class="card">
        <nav>
            <ul class="tabs">
                <li class="tab"><a routerLink="/pomodoro/clock/1" routerLinkActive="active">Pomodoro</a></li>
                <li class="tab"><a routerLink="/pomodoro/clock/2" routerLinkActive="active">Short Break</a></li>
                <li class="tab"><a routerLink="/pomodoro/clock/3" routerLinkActive="active">Long Break</a></li>
            </ul>
        </nav>
    
        <article>
            <div class="clock">
                <div class="circle" [style.backgroundImage]="this.clockState.progress()">
                    <div class="time">{{ clockState.milliseconds | time }}</div>
                </div>
            </div>
            <div>#{{ clockState.round }}</div>
            @if (clockState.isStart) {
            <button (click)="clockState.stop()">Stop</button>
            <button (click)="clockState.nextStage()">Next Stage</button>
            }
            @else {
            <button (click)="clockState.start()">Start</button>
            }
        </article>
    </div>
</div>
}