@if (setting) {
<article [style.--theme]="setting.color">
    <h2 class="section-title">Settings</h2>
    <form class="settings-form card" [formGroup]="settingForm" (ngSubmit)="save()">

        <label for="minutes" class="field">
            <p>Minutes</p>
            <input type="number" id="minute" name="minute" min="1" step="1" class="input" placeholder="min"
                formControlName="minute">
        </label>

        @if(settingForm.get('interval')) {
        <label for="interval" class="field">
            <p>Interval</p>
            <input type="number" id="interval" name="interval" min="1" step="1" class="input"
                formControlName="interval">
        </label>
        }

        <label for="autoStart" class="field">
            <p>Auto Start</p>
            <input type="checkbox" id="autoStart" name="autoStart" class="checkbox" formControlName="autoStart">
        </label>

        <label for="sound" class="field">
            <p>Sound</p>
            <select id="sound" name="sound" formControlName="sound" (change)="playAudio()">
                @for (audio of audioFiles; track $index) {
                <option [value]="audio.path">{{ audio.name }}</option>
                }
            </select>
        </label>

        <label for="sound" class="field">
            <p>Theme</p>
            <select id="color" name="color" formControlName="color">
                @for (color of colors; track $index) {
                <option [value]="color">{{ color }}</option>
                }
            </select>
        </label>

        <button type="submit">save</button>
    </form>
</article>
}