<article [style.--theme]="clock.color">
    <h2 class="section-title">Settings</h2>
    <form class="settings-form card">

        <label for="minutes" class="field">
            <p>Minutes</p>
            <input type="number" id="minutes" name="minutes" min="1" step="1" class="input" placeholder="min"
                [(ngModel)]="clock.minute">
        </label>

        @if (clock.interval) {
        <label for="interval" class="field">
            <p>Interval</p>
            <input type="number" id="interval" name="interval" min="1" step="1" class="input"
                [(ngModel)]="clock.interval">
        </label>
        }

        <label for="autoStart" class="field">
            <p>Auto Start</p>
            <input type="checkbox" id="autoStart" name="autoStart" class="checkbox" [(ngModel)]="clock.autoStart">
        </label>

        <label for="sound" class="field">
            <p>Sound</p>
            <select id="sound" name="sound" [(ngModel)]="clock.sound" (change)="playAudio()">
                @for (audio of audioFiles; track $index) {
                <option [value]="audio.path">{{ audio.name }}</option>
                }
            </select>
        </label>

        <label for="sound" class="field">
            <p>Theme</p>
            <select id="color" name="color" [(ngModel)]="clock.color">
                @for (color of colors; track $index) {
                <option [value]="color">{{ color }}</option>
                }
            </select>
        </label>
    </form>
</article>