<section class="section">
    <h2 class="page-title">What is the Pomodoro Technique?</h2>
    <p>
        The Pomodoro Technique is a time management method that breaks down work into intervals, traditionally 25
        minutes in length, separated by 1 short breaks. Each interval is known as a pomodoro. After completing four
        pomodoros, you take a longer break, usually 15-30 minutes. This method helps improve focus, reduce distractions,
        and increase productivity.
    </p>

    <h2 class="page-title">How to use <span class="hide">Pomodoro</span>?</h2>
    <ol>
        <li>Set Your Timer: Customize the work and break durations.</li>
        <li>Start Working: Press start and focus on your task for the set amount of time.</li>
        <li>Take a Break: Once the timer goes off, take a short break.</li>
        <li>Repeat: After completing four pomodoros, take a longer break.</li>
    </ol>
</section>